.u-section-1 .u-sheet-1 {
  min-height: 973px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 85px 140px 60px 80px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 20px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}